<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de produtos Destiny</title>
  <link href="/css/tailwind.dashboard.css" rel="stylesheet">
  <link href="/css/tailwind.min.css" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/sweetalert2.min.css">
  <script src="../js/sweetalert2.min.js"></script>
  <link rel="icon" href="../img/LogoDestiny.svg">
  <script src="../js/menu.js"></script>
</head>

<body class="flex flex-col bg-gray-200 h-screen w-screen">

  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <!-- Botão do menu mobile -->
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!-- Ícone do menu -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!-- Logotipo e links de navegação -->
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <a href="/"><img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company"></a>
          </div>
          <div th:if="${#authentication.authorities[0].authority == 'ROLE_ADMIN'}" class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <a class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" href="/">Home</a>
              <a class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" href="/usuario/lista">Listar Usuários</a>
              <a class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" href="#">Listar Clientes</a>
              <a class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" href="/produto/listar">Listar Produtos</a>
            </div>
          </div>
          <div th:if="${#authentication.authorities[0].authority == 'ROLE_ESTOQUISTA'}" class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <a href="/" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Home</a>

              <a href="/produto/listar" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Listar Produtos</a>
              <a href="/usuario/pedidos-gerenciar" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Listar Pedidos</a>
            </div>
          </div>

        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <input type="hidden" name="" id="carrinhoCount">

          <!-- Dropdown de perfil -->
          <div class="relative ml-3" th:if="${#authentication.authorities[0].authority == 'ROLE_CLIENTE'}">
            <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://destinyproject.blob.core.windows.net/destinypodruto/perfil.png" alt="">
            </button>
            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white" th:text="${usuario.getNome}"></span>
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400" th:text="${usuario.getUsername()}"></span>
                <hr>
              </div>
              <a href="/" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Home</a>
              <a href="/cliente/perfil" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Meu Perfil</a>
              <a href="/cliente/alterar-senha" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Alterar Senha</a>
              <a href="/cliente/meus-pedidos" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Meus pedidos</a>
              <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-4">Sair</a>
            </div>
          </div>

          <div class="relative ml-3" sec:authorize="isAuthenticated()" th:if="${#authentication.authorities.?[authority == 'ROLE_ADMIN' || authority == 'ROLE_ESTOQUISTA'].size() > 0}">
            <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://destinyproject.blob.core.windows.net/destinypodruto/perfil.png" alt="">
            </button>
            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white" th:text="${usuario.getNome}"></span>
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400" th:text="${usuario.getUsername()}"></span>
                <hr>
              </div>
              <a href="/" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Home</a>
              <a href="/home" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Menu</a>
              <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-4">Sair</a>
            </div>
          </div>

          <div class="relative ml-3" sec:authorize="!isAuthenticated()">

            <a href="/login" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm mx-2 px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Entrar</a>

          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Menu mobile -->
    <div class="sm:hidden hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Pacotes</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Passeios</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Destinos</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Itinerários</a>
      </div>
    </div>
  </nav>

  <!-- Conteúdo principal (pode adicionar o conteúdo da sua página aqui) -->
  <div class="container mt-4 flex-grow-1">

    <div class="container p-5">

      <div class="row d-flex justify-content-between ">
        <div class="col-md-auto">
          <th:block th:if="${#authentication.authorities[0].authority == 'ROLE_ADMIN'}">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalCadastroProd"><i class="bi bi-plus-circle"> Novo Produto</i></button>
          </th:block>
        </div>
        <div class="col-md-auto">
          <div class="input-group mb-3">
            <form class="input-group mb-3" action="#" th:action="@{/produto/listar}" method="get">
              <input type="text" class="form-control " id="nomeProduto" th:name="nomeProduto" th:value="${nomeProduto}" placeholder="Ex: Hotel" autocomplete="off">
              <button class="btn btn-outline-primary" type="submit">Buscar<i class="bi bi-search px-1"></i></button>
            </form>
          </div>
        </div>
      </div>


      <h5></h5>
      <table class="table table-striped table-hover caption-top">
        <caption>Lista de Produtos</caption>
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th class="text-center" scope="col">Avaliação</th>
            <th class="text-center" scope="col">Valor</th>
            <th class="text-center" scope="col">Quantidade</th>
            <th class="text-center" scope="col">Status</th>
            <th class="text-center" scope="col">Opções</th>
            <!-- outras colunas -->
          </tr>
        </thead>
        <tbody>
          <tr th:if="${#lists.isEmpty(produtoPage.content)}" class="table">
            <td colspan="7" class="text-center">
              <h4>Nenhum produto cadastrado.</h4>
            </td>
          </tr>
          <tr th:each="produto : ${produtoPage.content}" th:attr="data-id=${produto.id}, data-nome=${produto.nome}, data-status=${produto.statusProduto} ">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td class="text-center" th:text="${produto.avaliacao}"></td>
            <td class="text-center" th:text="${produto.valor}"></td>
            <td class="text-center" th:text="${produto.quantidade}"></td>
            <td>
              <div class="text-center" role="group">
                <span th:if="${#strings.equalsIgnoreCase(produto.statusProduto, 'ATIVO')}" class="text-success">ativo</span>
                <span th:unless="${#strings.equalsIgnoreCase(produto.statusProduto, 'ATIVO')}" class="text-danger">inativo</span>
              </div>
            </td>
            <td class='text-center'>
              <div class='d-flex justify-content-center'>
                <a type='button' class='btn border border-warning meuBotao me-3' onclick="openEditModal(this)" th:href="@{'/produto/detalhes?id=' + ${produto.id}}">
                  <i class="bi bi-pencil-square px-1"></i>Editar
                </a>
                <th:block th:if="${#authentication.authorities[0].authority == 'ROLE_ADMIN'}">
                  <button th:if="${#strings.equalsIgnoreCase(produto.statusProduto, 'ATIVO')}" type="button" class="btn btn-danger btn-sm me-3" onclick="updateStatusProduto(this)"><i class="bi bi-caret-down"></i>
                    INATIVAR</button>
                  <button th:unless="${#strings.equalsIgnoreCase(produto.statusProduto, 'ATIVO')}" type="button" class="btn btn-success btn-sm me-3" onclick="updateStatusProduto(this)">
                    <i class="bi bi-caret-up"></i>ATIVAR</button>
                </th:block>

                <a type='button' class='btn border border-info meuBotaoView' onclick="openEditModal(this) " th:href="@{'/produto/preview?id=' + ${produto.id}}">
                  <i class="bi bi-eye"></i>
                  Visualizar
                </a>
              </div>
            </td>

          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
      <div class="position-relative">
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <nav>
            <ul class="pagination">
              <li class="page-item" th:classappend="${produtoPage.first} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/produto/listar(page=1, size=${produtoPage.size})}">Primeira</a>
              </li>
              <li class="page-item" th:classappend="${produtoPage.first} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/produto/listar(page=${produtoPage.number}, size=${produtoPage.size})}">Anterior</a>
              </li>
              <li class="page-item" th:classappend="${produtoPage.last} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/produto/listar(page=${produtoPage.number + 2}, size=${produtoPage.size})}">Próxima</a>
              </li>
              <li class="page-item" th:classappend="${produtoPage.last} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/produto/listar(page=${produtoPage.totalPages}, size=${produtoPage.size})}">Última</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <th:block th:if="${#authentication.authorities[0].authority == 'ROLE_ADMIN'}">
    <form action="/produto/add" method="post" enctype="multipart/form-data" id="FormsCadastroProd">
      <div class="modal fade" id="modalCadastroProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCadastroProdLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">Novo produto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome" name="nome" maxlength="199" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="valor" class="form-label">Valor</label>
                  <input type="number" class="form-control" id="valor" name="valor" step="0.01" min="1" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="quantidade" class="form-label">Quantidade</label>
                  <input type="number" class="form-control" id="quantidade" name="quantidade" min="1" maxlength="1998" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="avaliacao" class="form-label">Avaliação</label>
                  <select class="form-select" id="avaliacao" name="avaliacao" required>
                    <option value="" selected disabled>Selecione uma opção</option>
                    <option value="1">1.0</option>
                    <option value="1">1.5</option>
                    <option value="2">2.0</option>
                    <option value="2">2.5</option>
                    <option value="3">3.0</option>
                    <option value="3">3.5</option>
                    <option value="4">4.0</option>
                    <option value="4">4.5</option>
                    <option value="5">5.0</option>
                  </select>
                </div>
              </div>
              <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea class="form-control" id="descricao" name="descricao" rows="3" maxlength="1998" required></textarea>
              </div>
              <div class="mb-3">
                <label for="imagem" class="form-label">Imagens:(Recomendamos imagens com dimenções de ate 1500X100)</label>
                <input type="file" class="form-control" id="imagem" name="imagem" multiple required>
              </div>
              <div id="preview" class="row p-2 justify-content-center">
              </div>
              <div class="col-md-12 justify-content-center">

              </div>

            </div>
            <div class="modal-footer d-flex">
              <div class="bd-highlight"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button></div>
              <div class="ms-auto col-md-6"> <button type="submit" class="btn btn-success ">Cadastrar</button></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </th:block>



  <script th:if="${mensagem}" th:inline="javascript">
    Swal.fire({
      position: 'top-end',
      icon: /*[[${tipo}]]*/"",
      title: /*[[${mensagem}]]*/"",
      showConfirmButton: false,
      timer: 1500
    });
  </script>
  <script>


    function updateRadioInputs() {
      var preview = document.getElementById('preview');
      var radios = preview.querySelectorAll('.form-check-input');
      var labels = preview.querySelectorAll('.form-check-label');
      for (var i = 0; i < radios.length; i++) {
        radios[i].id = 'exampleRadios' + i;
        radios[i].value = i;
        labels[i].htmlFor = 'exampleRadios' + i;
      }
    }

    function removeImage(card, file) {
      var input = document.getElementById('imagem');
      var preview = document.getElementById('preview');

      preview.removeChild(card);

      // Cria um novo objeto de FormData
      var dataTransfer = new DataTransfer();
      for (var i = 0; i < input.files.length; i++) {
        if (input.files[i] !== file) {
          dataTransfer.items.add(input.files[i]);
        }
      }

      // Atualiza o input com os arquivos restantes
      input.files = dataTransfer.files;
    }

    function handleFile(file, i) {
      console.log(file.name);
      if (!file.type.match('image/jpeg') && !file.type.match('image/png')) {
        alert('Só são permitidos arquivos de imagem (jpg, jpeg, png).');
        this.value = '';
        return;
      }

      var reader = new FileReader();

      reader.onload = function (e) {
        var img = document.createElement('img');
        img.src = e.target.result;
        img.alt = 'Imagem-produto';
        img.className = 'card-img-top';

        var cardBody = document.createElement('div');
        cardBody.className = 'card-body d-flex flex-column';

        var formCheck = document.createElement('div');
        formCheck.className = 'form-check mt-auto';

        var radioInput = document.createElement('input');
        radioInput.className = 'form-check-input';
        radioInput.type = 'radio';
        radioInput.name = 'imgPrincipal';
        radioInput.id = 'exampleRadios' + i;
        radioInput.value = i;
        var radioLabel = document.createElement('label');
        radioLabel.className = 'form-check-label';
        radioLabel.htmlFor = 'exampleRadios' + i;
        radioLabel.textContent = 'Imagem principal';

        formCheck.appendChild(radioInput);
        formCheck.appendChild(radioLabel);
        cardBody.appendChild(formCheck);

        var closeButton = document.createElement('button');
        closeButton.type = 'button';
        closeButton.className = 'btn-close';
        closeButton.setAttribute('aria-label', 'Close');

        var card = document.createElement('div');
        card.className = 'card p-2 m-1';
        card.style.width = '18rem';
        card.appendChild(closeButton);
        card.appendChild(img);
        card.appendChild(cardBody);

        closeButton.addEventListener('click', function () {
          removeImage(card, file);
          updateRadioInputs()
        });

        preview.appendChild(card);
      };

      reader.readAsDataURL(file);
    }

    document.body.addEventListener('change', function (event) {
      if (event.target.id === 'imagem') {
        var preview = document.getElementById('preview');
        preview.innerHTML = '';

        for (var i = 0; i < event.target.files.length; i++) {
          handleFile(event.target.files[i], i);
        }
      }
    });

    document
      .getElementById("FormsCadastroProd")
      .addEventListener("submit", function (e) {
        var radios = document.getElementsByName("imgPrincipal");
        var formValid = false;

        var i = 0;
        while (!formValid && i < radios.length) {
          if (radios[i].checked) formValid = true;
          i++;
        }

        if (!formValid) {
          alert("Por favor, selecione uma imagem principal.");
          e.preventDefault();
        }
      });



    function updateStatusProduto(e) {
      let t = e.closest("tr"),
        a = t.getAttribute("data-id"),
        i = t.getAttribute("data-status"),
        o = "ATIVO" === i ? "INATIVO" : "ATIVO",
        n = { id: a, status: o };
      console.log(n)
      Swal.fire({
        title: `${"ATIVO" === o ? "Ativar produto" : "Inativar produto"} ?`,
        showCancelButton: !0,
        confirmButtonText: "Sim",
      }).then((e) => {
        e.isConfirmed &&
          makeRequest(
            "POST",
            "/produto/updateStatus",
            n,
            "Status atualizado com sucesso!"
          );
      });
    }

    function makeRequest(e, t, a, i) {
      console.log(a),
        $.ajax({
          type: e,
          url: `http://destiny.eastus2.cloudapp.azure.com:8080${t}`,
          data: JSON.stringify(a),
          contentType: "application/json; charset=utf-8",
          success: function (e) {
            [200, 201].includes(e.status) && "success" === e.message
              ? (Swal.fire({
                position: "top-end",
                icon: "success",
                title: i,
                showConfirmButton: !1,
                timer: 1900,
              }),
                setTimeout(() => location.reload(), 1900))
              : Swal.fire({
                icon: "error",
                title: "Erro",
                text: "Resposta inesperada do servidor. Por favor, tente novamente.",
              });
          },
          error: function (e) {
            let t = e.responseJSON,
              a = t.message + "\n\n";
            t.details && (a += t.details.map((e) => "- " + e).join("\n")),
              Swal.fire({ icon: "error", title: "Erro", text: a });
          },
        });
    }

  </script>

  <footer class="relative bg-gray-800 pt-8 pb-6">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company">
          <h1 class="text-2xl font-semibold text-white mt-6">Centrais de Atendimento</h1>
          <h5 class="text-lg mt-0 mb-2 text-white">
            Suporte Pós Venda 11 4002 8922 <br>
            Segunda à Sexta: 09h às 21h <br>
            Sábado e Feriados Nacionais: 09h às 16h <br>
          </h5>
          <div class="mt-6 lg:mb-0 mb-6">
            <!-- Aqui deixei os botões como estavam pois parecem ter cores específicas -->

          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Links Úteis</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Sobre Nós</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/CleitonRSilvaa/Destiny">GitHub</a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Compra Segura</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Termos e
                    Condições</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Política de
                    Privacidade</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Black
                    Friday</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Oferta
                    Destiny</a>
                </li>
              </ul>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Forma de Pagamento</span>
              <ul class="list-unstyled">
                <li>
                  <img class="h-25 w-auto" src="../img/formasPagamento.png" alt="Forma de Pagamento">
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-white font-semibold py-1">
            Copyright © <span id="get-current-year">2023</span><a href="#" class="text-white hover:text-blueGray-800">
              Destiny by
              <a href="https://github.com/CleitonRSilvaa/Destiny" class="text-white hover:text-blueGray-800">Eco
                Coders</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="../jquery/jquery.min.js"></script>
  <script src="../jquery/jquery.mask.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <!-- MDB -->

</body>

</html>