<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
 <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/sweetalert2.min.css">
  <link href="../css/style.css" rel="stylesheet">
  <script src="../js/sweetalert2.min.js"></script>
  <link rel="icon" href="../img/LogoDestiny.svg">

</head>

<body class="d-flex flex-column">
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a href="/"><img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company"></a>

        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">

            <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">HOME</a>
            <a href="/usuario/lista" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Listar Usuários</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Listar Clientes</a>
            <a href="/produto/listar" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Listar Produtos</a>



          </div>
        </div>
      </div>

      <div sec:authorize="isAuthenticated()">
        <spam class='text-white px-2' th:text="${#authentication.name}"></spam>
        <input type="hidden" id="usernameBeingEdited" th:value="${#authentication.name}">
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="absolute -inset-1.5"></span>
          <a class="btn btn-outline-danger" href="/logout"><i class="bi bi-box-arrow-right px-1"></i>Sair</a>
        </button>


            <div class="sm:hidden" id="mobile-menu">
              <div class="space-y-1 px-2 pb-3 pt-2">
                <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Pacotes</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Passeios</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Destinos</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Itinerários</a>
              </div>
            </div>
          </nav>

<div class="container mt-4 flex-grow-1">
     <div class="container p-5">
      </div>
  </div>

          <!--<nav class="bg-gray-800">-->
<!--  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">-->
<!--    <div class="relative flex h-16 items-center justify-between">-->
<!--      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">-->
<!--        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">-->
<!--          <span class="absolute -inset-0.5"></span>-->
<!--          <span class="sr-only">Open main menu</span>-->
<!--          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />-->
<!--          </svg>-->
<!--          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />-->
<!--          </svg>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">-->
<!--        <div class="flex flex-shrink-0 items-center">-->
<!--          <a href="/"><img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company"></a>-->

<!--        </div>-->
<!--        <div class="hidden sm:ml-6 sm:block">-->
<!--          <div class="flex space-x-4">-->
<!--          &lt;!&ndash; Link para Home. Todos os usuários terão acesso &ndash;&gt;-->
<!--            <a href="/" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Home</a>-->


<!--            &lt;!&ndash; Links exclusivos para ROLE_ADMIN &ndash;&gt;-->
<!--          <th:block th:if="${#authentication.authorities[0].authority == 'ROLE_ADMIN'}">-->

<!--            <div class="hidden sm:ml-6 sm:block">-->
<!--              <div class="flex space-x-4">-->
<!--                <a class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" href="/usuario/lista">Listar Usuários</a>-->
<!--                <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" href="#">Listar Clientes</a>-->
<!--                <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" href="/produto/listar">Listar Produtos</a>-->
<!--              </div>-->
<!--            </div>-->

<!--          </th:block>-->

<!--      </div>-->
<!--    </div>-->

<!--      <div sec:authorize="isAuthenticated()">-->
<!--        <spam class='text-white px-2' th:text="${#authentication.name}"></spam>-->
<!--        <input type="hidden" id="usernameBeingEdited" th:value="${#authentication.name}">-->

<!--      </div>-->

<!--      <a class="btn btn-outline-danger" href="/logout"><i class="bi bi-box-arrow-right px-1"></i>Sair</a>-->
<!--    </div>-->
<!--  </nav>-->

<!--  <div class="container mt-4 flex-grow-1">-->
<!--    <div class="container p-5">-->
<!--    </div>-->
<!--  </div>-->


  <span th:if="${errorMessage}">
    <script th:inline="javascript">
      Swal.fire({
        position: 'top-end',
        icon: 'error',
        title: /*[[${errorMessage}]]*/"",
        showConfirmButton: false,
        timer: 1700
      });
    </script>
  </span>


  <footer class="relative bg-gray-800 pt-8 pb-6">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company">
          <h1 class="text-2xl font-semibold text-white mt-6">Centrais de Atendimento</h1>
          <h5 class="text-lg mt-0 mb-2 text-white">
            Suporte Pós Venda 11 4002 8922 <br>
            Segunda à Sexta: 09h às 21h <br>
            Sábado e Feriados Nacionais: 09h às 16h <br>
          </h5>
          <div class="mt-6 lg:mb-0 mb-6">
            <!-- Aqui deixei os botões como estavam pois parecem ter cores específicas -->

          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Links Úteis</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Sobre Nós</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/CleitonRSilvaa/Destiny">GitHub</a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Compra Segura</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Termos e Condições</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Política de Privacidade</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Black Friday</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Oferta Destiny</a>
                </li>
              </ul>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Forma de Pagamento</span>
              <ul class="list-unstyled">
                <li>
                  <img class="h-25 w-auto" src="../img/formasPagamento.png" alt="Forma de Pagamento">
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-white font-semibold py-1">
            Copyright © <span id="get-current-year">2023</span><a href="#" class="text-white hover:text-blueGray-800"> Destiny by
            <a href="https://github.com/CleitonRSilvaa/Destiny" class="text-white hover:text-blueGray-800">Eco Coders</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="../jquery/jquery.min.js"></script>
  <script src="../jquery/jquery.mask.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <!-- MDB -->

</body>

</html>