<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização</title>
    <link rel="stylesheet" href="../css/stylePreview.css">
    <link rel="stylesheet" href="src/main/resources/static/css/stylePreview.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
   
</head>
<body>
  <div class="container p-5">
      <div class="row">
        <div class="col-md-6 mb-3">
<div id="carouselExampleDark" class="carousel carousel-dark slide" style="max-width: 800px; margin: 0 auto;">
  <div class="carousel-indicators">
    <div class="indicador">
        <div th:each="imagem, iterStat : ${produto.imagens}" class="carousel-button-container">
            <button type="button" data-bs-target="#carouselExampleDark" 
                    th:data-bs-slide-to="${iterStat.index}" 
                    th:class="${iterStat.index == 0} ? 'active' : ''" 
                    aria-label="Slide [[${iterStat.index + 1}]]"
                    class="carousel-button">
                <img th:src="${'/'+imagem.caminho}" class="d-block w-100" alt="Thumbnail [[${iterStat.index + 1}]]">
            </button>
        </div>
    </div>
</div>

    <div class="carousel-inner">

      <div th:each="imagem, iterStat : ${produto.imagens}">
        <div th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
            <img th:src="${'/'+imagem.caminho}" class="d-block w-100" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
        </div>
      </div>
  </div>
</body>

</html>