<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel with Thumbnails</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/produto/style.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-2 flex-grow-1">
    <div class="container p-3">
      <div class="row">
        <div class="col-md-6">
          <div id="carouselMain" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <th:block th:each="imagem, iterStat : ${produto.imagens}">
                <div th:class="${imagem.principal} ? 'carousel-item active' : 'carousel-item'">
                  <img th:src="${'/'+imagem.caminho}" class="d-block w-100" alt="...">
                </div>
              </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden ">Next</span>
            </button>
          </div>
          <div id="thumbnailContainer" class="d-flex justify-content-center mt-3">
            <th:block th:each="imagem, iterStat : ${produto.imagens}">
              <img th:src="${'/'+imagem.caminho}" alt="Slide" th:data-bs-slide-to="${iterStat.index}" th:class="${imagem.principal} ? 'active' : ''">
            </th:block>
          </div>

        </div>
        <div class="col-md-6 text-center mx-auto my-auto shadow p-3 mb-5 bg-body-tertiary rounded">
          <h5 class="card-title fw-bold ">Almoço nos ares</h5>
          <p>
          </p>
          <p class="card-text">Preço: R$100,00</p>
          <p class="card-text">Em Estoque: 6 unidades</p>
            <p class="card-text">Descrição do Produto: Almoce com sua familia, seu namorado(a), sozinho, seja com quem for, almoce apreciando a paisagem maravilhosa de SP.</p>

            <button class="btn btn-primary" id="comprarBtn">Comprar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/produto/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script>
    $(document).ready(function(){
        $(".star").click(function(){
            var rating = $(this).data("star");
            $("#ratingValue").text(rating);
        });
    });
  </script>

  <script>
    $(document).ready(function () {
        $("#comprarBtn").click(function () {
            alert("Produto adicionado ao carrinho!");
        });
    });
  </script>
</body>

</html>