<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Dados</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styleupdate.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand p-2" href="/">
          <img src="../img/LogoDestiny.svg" width="80" height="100%" class="d-inline-block align-top" alt="Logo">
        </a>
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link " href="#">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
              </li>
              <li class="nav-item">
              </li>
            </ul>
          </div>
    
          <!-- <div sec:authorize="isAuthenticated()">
            <spam class='text-white px-2' th:text="${#authentication.name}"></spam>
          </div> -->
    
          <div class="text-end">
            <a type="button" class="btnlogin btn btn-outline-light me-2" href="/login">Entrar</a>
          </div>
        </div>
      </nav>

    <div class="container">

        <h4>Shipping Address</h4>
      
        <p>You can click the button below to use your current location as your shipping address</p>
      
        <div id="map">
        </div>
      
        <p id="current_position"></p>
      
        <button id="showMe" class="btn center-align">
          <i class="material-icons">
              my_location
          </i>
          Use My Location
        </button>
      
        <form id="billingAddress">
      
          <div id="locationList"></div>
          <br>
      
          <div class="input-field">
            <textarea class="materialize-textarea" id="address" type="text"></textarea>
            <label class="active" for="address">Address (Area and Street)</label>
          </div>
      
          <div class="input-field">
            <input id="locality" type="text">
            <label class="active" for="locality">Locality</label>
          </div>
      
          <div class="input-field">
            <input id="city" type="text">
            <label class="active" for="city">City/District/Town</label>
          </div>
          <div class="input-field">
            <input id="postal_code" type="text">
            <label class="active" for="pin_code">Pin Code</label>
          </div>
      
          <div class="input-field">
            <input id="landmark" type="text">
            <label class="active" for="landmark">Landmark</label>
          </div>
      
          <div class="input-field">
            <input id="state" type="text">
            <label class="active" for="State">State</label>
          </div>
      
        </form>
      
      </div>
      
</body>
</html>