<!DOCTYPE html>

<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra-me Destiny</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../css/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <link href="../css/styleRegistroCliente.css" rel="stylesheet">
    <link rel="shortcut icon" href="../img/LogoDestiny2.svg" type="image/x-icon">
    <script src="../js/sweetalert2.min.js"></script>

</head>


<!-- partial:index.partial.html -->



<body class="antialiased sans-serif bg-gray-200">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Pacotes</a>
                            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Passeios</a>
                            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Destinos</a>
                            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Itinerários</a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">View notifications</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>

                    <!-- Profile dropdown -->
                    <div class="relative ml-3">
                        <div>
                            <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Open user menu</span>
                                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                            </button>
                        </div>

                        <!--
                  Dropdown menu, show/hide based on menu state.
      
                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                        <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Meu Perfil</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Meus pedidos</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Configurações</a>
                            <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-3">Sair</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Pacotes</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Passeios</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Destinos</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Itinerários</a>
            </div>
        </div>
    </nav>

    <div id="divMan" x-data="app()" x-cloak>
        <div autocomplete="off">
            <div class="max-w-3xl mx-auto px-4 py-10">

                <div x-show.transition="step != 'complete'">
                    <!-- Top Navigation -->
                    <div class="border-b-2 py-4">
                        <div class="uppercase tracking-wide text-xs font-bold text-gray-500 mb-1 leading-tight" x-text="`Passo: ${step} de 4`"></div>
                        <div class="flex flex-col md:flex-row md:items-center md:justify-between">
                            <div class="flex-1">
                                <div x-show="step === 1">
                                    <div class="text-lg font-bold text-gray-700 leading-tight">Dados pessoais</div>
                                </div>

                                <div x-show="step === 2">
                                    <div class="text-lg font-bold text-gray-700 leading-tight">Endereço de entrega e faturamento</div>
                                </div>

                                <div x-show="step === 3">
                                    <div class="text-lg font-bold text-gray-700 leading-tight">Senha de acesso</div>
                                </div>

                                <div x-show="step === 4">
                                    <div class="text-lg font-bold text-gray-700 leading-tight">Concluir </div>
                                </div>
                            </div>

                            <div class="flex items-center md:w-64">
                                <div class="w-full bg-white rounded-full mr-2">
                                    <div class="rounded-full bg-green-500 text-xs leading-none h-2 text-center text-white" :style="'width: '+ parseInt(step / 4 * 100) +'%'"></div>
                                </div>
                                <div class="text-xs w-10 text-gray-600" x-text="parseInt(step / 4 * 100) +'%'"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Top Navigation -->

                    <!-- Step Content -->
                    <div class="py-10">
                        <div x-show.transition.in="step === 1">
                            <div class="mb-5 text-center">
                                <div class="divImg mx-auto w-32 h-32 mb-2 border rounded-full relative bg-gray-100 mb-4 shadow-inset">
                                    <img id="image" class="object-cover w-full h-32 rounded-full" :src="image" />
                                </div>

                                <label for="fileInput" type="button" class="cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                        <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                                        <circle cx="12" cy="13" r="3" />
                                    </svg>
                                    Buscar Foto
                                </label>

                                <div class="mx-auto w-48 text-gray-500 text-xs text-center mt-1">Clique para adicionar foto de perfil</div>

                                <input name="photo" id="fileInput" accept="image/*" class="hidden" type="file" @change="let file = document.getElementById('fileInput').files[0];
								var reader = new FileReader();
								reader.onload = (e) => image = e.target.result;
								reader.readAsDataURL(file);">

                            </div>

                            <div class="mb-5">
                                <label for="name" class="font-bold mb-1 text-gray-700 block">Nome</label>
                                <input type="text" id="name" name="nome" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Nome completo" required>
                            </div>

                            <div class="mb-5">
                                <label for="email" class="font-bold mb-1 text-gray-700 block">E-mail</label>
                                <input type="email" id="email" name="email" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="exemplo@email.com" required>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div class="mb-5">
                                    <label for="cpf" class="font-bold mb-1 text-gray-700 block">CPF</label>
                                    <input type="text" id="cpf" name="cpf" class="h-12 w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="000.000.000-00" required>
                                </div>
                                <div class="mb-5">
                                    <label for="birthdate" class="font-bold mb-1 text-gray-700 block">Data de Nascimento</label>
                                    <input type="date" id="birthdate" name="dataNacimento" class="h-12 w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" required>
                                </div>
                                <div class="mb-5">
                                    <label for="genero" class="font-bold mb-1 text-gray-700 block">Gênero</label>
                                    <select id="genero" name="genero" class="h-12 w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" required>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Feminino">Feminino</option>
                                        <option value="Outro">Outro</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div x-show.transition.in="step === 2">
                            <div class="mb-5">
                                <label class="font-bold mb-1 text-gray-700 block">Endereço de Entrega</label>
                                <input type="text" id="deliveryCep" class="w-full px-4 py-3 mb-2 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Digite o CEP">

                                <div id="deliveryAddressFieldsInfo" class="hidden">
                                    <input type="text" id="deliveryLogradouro" class="w-full px-4 py-3 mb-2 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Logradouro">
                                    <div class="flex flex-wrap -mx-3">
                                        <div class="w-full md:w-1/6 px-3 mb-2">
                                            <input type="text" id="deliveryNumero" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Numero">
                                        </div>
                                        <div class="w-full md:w-5/6 px-3 mb-2">
                                            <input type="text" id="deliveryComplemento" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Complemento">
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap -mx-3">
                                        <div class="w-full md:w-1/2 px-3 mb-2">
                                            <input type="text" id="deliveryBairro" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Bairro">
                                        </div>
                                        <div class="w-full md:w-1/3 px-3 mb-2">
                                            <input type="text" id="deliveryLocalidade" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Cidade">
                                        </div>
                                        <div class="w-full md:w-1/6 px-3 mb-2">
                                            <input type="text" id="deliveryUf" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="UF">
                                        </div>
                                    </div>
                                </div>

                                <label class="font-bold mb-1 text-gray-700 block">Endereço de Faturamento</label>
                                <input type="checkbox" id="sameAddress" checked class="mb-2">
                                <label for="sameAddress" class="text-gray-700">Mesmo que o endereço de entrega</label>
                            </div>

                            <div class="mb-5">
                                <div id="billingAddressFields" class="hidden space-y-2">
                                    <input type="text" id="billingCep" class="w-full px-4 py-3 mb-2 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Digite o CEP">
                                    <div id="billingAddressFieldsInfo" class="hidden">
                                        <input type="text" id="billingLogradouro" class="w-full px-4 py-3 mb-2 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Logradouro">
                                        <div class="flex flex-wrap -mx-3">
                                            <div class="w-full md:w-1/6 px-3 mb-2">
                                                <input type="text" id="billingNumero" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Numero">
                                            </div>
                                            <div class="w-full md:w-5/6 px-3 mb-2">
                                                <input type="text" id="billingComplemento" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Complemento">
                                            </div>
                                        </div>
                                        <div class="flex flex-wrap -mx-3">
                                            <div class="w-full md:w-1/2 px-3 mb-2">
                                                <input type="text" id="billingBairro" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Bairro">
                                            </div>
                                            <div class="w-full md:w-1/3 px-3 mb-2">
                                                <input type="text" id="billingLocalidade" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Cidade">
                                            </div>
                                            <div class="w-full md:w-1/6 px-3 mb-2">
                                                <input type="text" id="billingUf" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="UF">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div x-show.transition.in="step === 3">
                            <div class="mb-5">
                                <label for="password" class="font-bold text-gray-700 block">Senha de Acesso</label>
                                <div class="relative">
                                    <input id="password" :type="togglePassword ? 'text' : 'password'" x-model="password" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Sua senha forte..." autocomplete="off">

                                    <div class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" @click="togglePassword = !togglePassword">
                                        <svg :class="{'hidden': !togglePassword, 'block': togglePassword }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24">
                                            <path d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757C12.568 16.983 12.291 17 12 17c-5.351 0-7.424-3.846-7.926-5 .204-.47.674-1.381 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379-.069.205-.069.428 0 .633C2.073 12.383 4.367 19 12 19zM12 5c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657.069-.205.069-.428 0-.633C21.927 11.617 19.633 5 12 5zM16.972 15.558l-2.28-2.28C14.882 12.888 15 12.459 15 12c0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501C9.796 7.193 10.814 7 12 7c5.351 0 7.424 3.846 7.926 5C19.624 12.692 18.76 14.342 16.972 15.558z" />
                                        </svg>

                                        <svg :class="{'hidden': togglePassword, 'block': !togglePassword }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24">
                                            <path d="M12,9c-1.642,0-3,1.359-3,3c0,1.642,1.358,3,3,3c1.641,0,3-1.358,3-3C15,10.359,13.641,9,12,9z" />
                                            <path d="M12,5c-7.633,0-9.927,6.617-9.948,6.684L1.946,12l0.105,0.316C2.073,12.383,4.367,19,12,19s9.927-6.617,9.948-6.684 L22.054,12l-0.105-0.316C21.927,11.617,19.633,5,12,5z M12,17c-5.351,0-7.424-3.846-7.926-5C4.578,10.842,6.652,7,12,7 c5.351,0,7.424,3.846,7.926,5C19.422,13.158,17.348,17,12,17z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <label for="passwordConfirm" class="font-bold text-gray-700 block">Confirmar Senha</label>
                                <div class="relative">
                                    <input id="passwordConfirm" :type="togglePasswordConfirm ? 'text' : 'password'" x-model="passwordConfirm" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Sua senha forte..." autocomplete="off">

                                    <div class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" @click="togglePasswordConfirm = !togglePasswordConfirm">
                                        <svg :class="{'hidden': !togglePasswordConfirm, 'block': togglePasswordConfirm }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24">
                                            <path d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757C12.568 16.983 12.291 17 12 17c-5.351 0-7.424-3.846-7.926-5 .204-.47.674-1.381 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379-.069.205-.069.428 0 .633C2.073 12.383 4.367 19 12 19zM12 5c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657.069-.205.069-.428 0-.633C21.927 11.617 19.633 5 12 5zM16.972 15.558l-2.28-2.28C14.882 12.888 15 12.459 15 12c0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501C9.796 7.193 10.814 7 12 7c5.351 0 7.424 3.846 7.926 5C19.624 12.692 18.76 14.342 16.972 15.558z" />
                                        </svg>

                                        <svg :class="{'hidden': togglePasswordConfirm, 'block': !togglePasswordConfirm }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24">
                                            <path d="M12,9c-1.642,0-3,1.359-3,3c0,1.642,1.358,3,3,3c1.641,0,3-1.358,3-3C15,10.359,13.641,9,12,9z" />
                                            <path d="M12,5c-7.633,0-9.927,6.617-9.948,6.684L1.946,12l0.105,0.316C2.073,12.383,4.367,19,12,19s9.927-6.617,9.948-6.684 L22.054,12l-0.105-0.316C21.927,11.617,19.633,5,12,5z M12,17c-5.351,0-7.424-3.846-7.926-5C4.578,10.842,6.652,7,12,7 c5.351,0,7.424,3.846,7.926,5C19.422,13.158,17.348,17,12,17z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div x-show.transition.in="step === 4" class="relative">

                            <div id="loader" style="display: none;">
                                <div class="absolute bg-white bg-opacity-60 z-10 h-full w-full flex items-center justify-center">
                                    <div class="flex items-center">
                                        <span class="text-3xl mr-4">Cadastrando...</span>
                                        <svg class="animate-spin h-8 w-8 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-white rounded-lg p-10 flex items-center shadow justify-between">
                                <div>

                                    <h2 class="text-2xl mb-4 text-gray-800 text-center font-bold">Concluido cadastro</h2>

                                    <div class="text-gray-600 mb-8">
                                        Verifique se todos os seus dados estão corretos. Se estiver tudo certo, clique no botão 'Cadastrar'. Se precisar fazer alguma correção, clique no botão 'Voltar'.
                                    </div>

                                    <button id="btnCadastar" @click="submitClienteForm()" class="text-white w-40 block mx-auto focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-white bg-white hover:bg-gray-100 font-medium border" style="border: 2px solid #e0b0ff; color: white;">Cadastrar</button>

                                    <button id="btnVolta" type="button" @click="step--" class="w-32 focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-white bg-white hover:bg-gray-100 font-medium border">Voltar</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Bottom Navigation -->
                <div class="bg-white rounded-lg shadow m-4 dark:bg-gray-800" x-show="step != 4">
                    <div class="max-w-3xl mx-auto px-4 p-4">
                        <div class="flex items-center justify-center">
                            <div class="w-1/2">
                                <button type="button" x-show="step > 1" @click="step--" class="w-32 focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-white bg-white hover:bg-gray-100 font-medium border">Voltar</button>
                            </div>

                            <div class="w-1/2 text-right">
                                <button type="button" x-show="step < 3" @click="goToNextStep()" class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium">Avançar</button>

                                <button type="button" @click="goToNextStep()" x-show="step === 3" class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium">Concluir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- / Bottom Navigation https://placehold.co/300x300/e2e8f0/cccccc -->
    </div>




    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Toggle do menu mobile
            let menuButton = document.querySelector('[aria-controls="mobile-menu"]');
            let mobileMenu = document.getElementById('mobile-menu');

            menuButton.addEventListener('click', function () {
                mobileMenu.classList.toggle('hidden');
            });

            // Toggle do dropdown de perfil
            let userMenuButton = document.getElementById('user-menu-button');
            let userMenuDropdown = document.querySelector('[aria-labelledby="user-menu-button"]');

            userMenuButton.addEventListener('click', function () {
                userMenuDropdown.classList.toggle('hidden');
            });
        });

    </script>


    <footer class="relative bg-gray-800 pt-8 pb-6">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap text-left lg:text-left">
                <div class="w-full lg:w-6/12 px-4">
                    <img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company">
                    <h1 class="text-2xl font-semibold text-white mt-6">Centrais de Atendimento</h1>
                    <h5 class="text-lg mt-0 mb-2 text-white">
                        Suporte Pós Venda 11 4002 8922 <br>
                        Segunda à Sexta: 09h às 21h <br>
                        Sábado e Feriados Nacionais: 09h às 16h <br>
                    </h5>
                    <div class="mt-6 lg:mb-0 mb-6">
                        <!-- Aqui deixei os botões como estavam pois parecem ter cores específicas -->
                        
                    </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                    <div class="flex flex-wrap items-top mb-6">
                        <div class="w-full lg:w-4/12 px-4 ml-auto">
                            <span class="block uppercase text-white text-sm font-semibold mb-2">Links Úteis</span>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Sobre Nós</a>
                                    <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/CleitonRSilvaa/Destiny">GitHub</a>
                                </li>
                            </ul>
                        </div>
                        <div class="w-full lg:w-4/12 px-4">
                            <span class="block uppercase text-white text-sm font-semibold mb-2">Compra Segura</span>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Termos e Condições</a>
                                    <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Política de Privacidade</a>
                                    <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Black Friday</a>
                                    <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Oferta Destiny</a>
                                </li>
                            </ul>
                        </div>

                        <div class="w-full lg:w-4/12 px-4">
                            <span class="block uppercase text-white text-sm font-semibold mb-2">Forma de Pagamento</span>
                            <ul class="list-unstyled">
                                <li>
                                    <img class="h-25 w-auto" src="../img/formasPagamento.png" alt="Forma de Pagamento">
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
            <hr class="my-6 border-blueGray-300">
            <div class="flex flex-wrap items-center md:justify-between justify-center">
                <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                    <div class="text-sm text-white font-semibold py-1">
                        Copyright © <span id="get-current-year">2023</span><a href="#" class="text-white hover:text-blueGray-800"> Destiny by
                            <a href="https://github.com/CleitonRSilvaa/Destiny" class="text-white hover:text-blueGray-800">Eco Coders</a>.
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="../js/popper.min.js"></script>
    <script src="../jquery/jquery.min.js"></script>
    <script src="../jquery/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>


    <script src="../js/cliente/main.js"></script>
</body>



</html>