@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#thumbnailContainer img {
  height: 100px;
  max-width: 23% !important;
  opacity: 0.5;
  cursor: pointer;
  margin: 0 5px;
  object-fit: cover;
}
#thumbnailContainer img.active {
  opacity: 1;
  border: 2px solid #007bff;
}

#carouselMain .carousel-item img {
  max-width: 100%;
  max-height: 500px;
  min-height: 100%;
  object-fit: cover;
}
.carousel-inner {
  height: 400px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
