<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Exemplo</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/sweetalert2.min.css">
  <link href="../css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/styleProduto.css">
  <script src="../js/sweetalert2.min.js"></script>
</head>

<body class="d-flex flex-column">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand px-2" href="/">Destiny</a>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Link para Home. Todos os usuários terão acesso -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">home</a>
          </li>

          <!-- Links exclusivos para ROLE_ADMIN -->
          <th:block th:if="${#authentication.authorities[0].authority == 'ROLE_ADMIN'}">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/usuario/lista">Listar Usuários</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Listar Clientes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Relatorios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Usuários Conectados</a></li>
                <li><a class="dropdown-item" href="#">Esquipamentos</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </th:block>

          <!-- Link para Listar Produtos. Todos os usuários, incluindo ROLE_ADMIN, terão acesso -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/produtos">Listar Produtos</a>
          </li>

        </ul>
      </div>

      <div sec:authorize="isAuthenticated()">
        <spam class='text-white px-2' th:text="${#authentication.name}"></spam>
        <input type="hidden" id="usernameBeingEdited" th:value="${#authentication.name}">

      </div>

      <a class="btn btn-outline-danger" href="/logout"><i class="bi bi-box-arrow-right px-1"></i>Sair</a>
    </div>
  </nav>

  <main>
    <div class="container">

      <h1 class="mb-3">Cadastro de Produto</h1>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="">
            <label for="nomeProduto" class="form-label">Nome do Produto</label>
            <input type="text" class="form-control" width="700px" id="nomeProduto" placeholder="Nome do Produto" value="" required>
          </div>
<div class="caixa">
          <div class="">
            <label class=""  for="avaliacao">Avaliação</label>
            <select class="form-select" id="avaliacao">
              <option selected>Choose...</option>
              <option value="0.5">0.5</option>
              <option value="1.0">1.0</option>
              <option value="1.5">1.5</option>
              <option value="2.0">2.0</option>
              <option value="2.5">2.5</option>
              <option value="3.0">3.0</option>
              <option value="3.5">3.5</option>
              <option value=">4.0">4.0</option>
              <option value="4.5">4.5</option>
              <option value="5.0">5.0</option>

            </select>
          </div>
        </div>
          <div class=" mb-3">
            <label  for="avaliacao">Valor</label>
            <input type="text" class="form-control" id="valor" placeholder="Digite o valor do produto">
          </div>
          
          <div class=" mb-3">
            <label for="qntProduto" class="form-label">Nome do Produto</label>
            <input type="text" class="form-control" placeholder="Digite a Quantidade no Estoque" id="qntProduto" >
          </div>

          <div class="">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" aria-label="With textarea" id="descricao"></textarea>
          </div>

          <div class="col-md-3">
            <label for="zip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
      </div>
</form>
  </main>

</body>
</html>