<!DOCTYPE html>

<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Destiny</title>

  <link href="../css/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/all.min.css">
  <link rel="icon" href="../img/LogoDestiny2.svg">
  <link rel="stylesheet" href="../css/stylesLanding.css">
</head>

<body class="bg-gray-200">

  <!-- Create By Joker Banny -->
  <style>
    @layer utilities {

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .bg-blue-500 {
		background-color: #f97316;
		border-color: #f97316;
		color: white;
	}

	.bg-blue-500:hover {
		transition: 0.3s;
		color: #f97316;
		background-color: white;
		border: 1px solid #f97316;
		/* Adicione a borda ao passar o mouse */
	}

  </style>

  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="/"><img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company"></a>

          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Pacotes</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Passeios</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Destinos</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Itinerários</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

          <a href="/carrinho" class="mr-3 relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="sr-only">Ver carrinho</span>

            <div class="t-0 absolute left-3">
              <p id="carrinhoCount" class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white "></p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="file: mt-4 h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>

          </a>

          <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
          </button>
          <!-- Profile dropdown -->
          <div class="relative ml-3" th:if="${#authentication.authorities[0].authority == 'ROLE_CLIENTE'}">
            <div>
              <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://destinyproject.blob.core.windows.net/destinypodruto/perfil.png" alt="">
              </button>
            </div>

            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white" th:text="${usuario.getNome}"></span>
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400" th:text="${usuario.getUsername()}"></span>
                <hr>
              </div>
              <a href="/" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Home</a>
              <a href="/cliente/perfil" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Meu Perfil</a>
              <a href="/cliente/alterar-senha" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Alterar Senha</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Meus pedidos</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-3">Configurações</a>
              <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-4">Sair</a>
            </div>
          </div>
        </div>
        <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.authorities.?[authority == 'ROLE_ADMIN' || authority == 'ROLE_ESTOQUISTA'].size() > 0}">
          <a href="/home" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm mx-2 px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Menu</a>
        </th:block>


        <a sec:authorize="!isAuthenticated()" href="/login" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm mx-2 px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Entrar</a>
      </div>
    </div>

    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Pacotes</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Passeios</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Destinos</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Itinerários</a>
      </div>
    </div>
  </nav>

  <div class="bg-gray-200 pt-20 mb-10">
    <h1 id="titulo" class="mb-10 text-center text-2xl font-bold">Itens do Carrinho</h1>

    <div class="hidden text-center m-10" id="carrinho-vazio">
      <p class="mb-5 text-xl text-gray-800">Deseja olhar outros produtos similares?</p>
      <a href="/" class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600">
        Voltar para a loja
      </a>

    </div>
    <div class="mx-auto max-w5xl justify-center px-4 py-2 md:flex md:space-x-6 xl:px-0">
      <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
        <button class="flex justify-center px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <!-- Ícone de lixeira da Heroicons (outline) -->
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
          Limpar Carrinho
        </button>
      </div>

    </div>
    <div class="mx-auto max-w5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">

      <div id="carrinho-items" class="rounded-lg md:w-2/3">
        <!-- Botão de Limpar o Carrinho com Ícone de Lixeira -->


      </div>
      <!-- Sub total -->
      <div id="detalhesValores" class="hidden mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
        <div class="mb-2 flex justify-between">
          <p class="text-gray-700">Subtotal</p>
          <p class="text-gray-700">
            R$
            <span id="subtotal"></span>
          </p>
        </div>
        <div class="pt-2">
          <p class="text-gray-700 p-1">Frete</p>
          <select id="frete" class="block p-2 text-gray-600 w-full text-sm flex justify-between border border-sky-300 shadow-xl">
            <option class="text-gray-700" value="10">Entrega padrão (até 7 dias) - R$ 10.00</option>
            <option class="text-gray-700" value="30">Entrega expresa (até 3 dias) - R$ 30.00</option>
            <option class="text-gray-700" value="60">Entrega agendada - R$ 60.00</option>
          </select>
        </div>
        <hr class="my-4" />
        <div class="flex justify-between">
          <p class="text-lg font-bold">Total</p>
          <div class="">
            <p class="mb-1 text-lg font-bold">
              R$
              <span id="total"></span>
            </p>
          </div>
        </div>
        <button class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">Finalizar Compra</button>
        <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
          <p>
            ou
            <a href="/" class="font-medium text-indigo-600 hover:text-indigo-500">
              Continue comprando
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>


  <div id="popup-modal" tabindex="-1" class="fixed inset-0 z-50 hidden overflow-x-hidden overflow-y-auto md:px-4 md:py-20">
    <div class="flex items-center justify-center min-h-full p-4 text-center sm:p-0">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 inline-block align-bottom">
        <button type="button" onclick="toggleModal('popup-modal','')" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="p-6 text-center">
          <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"> Você tem certeza de que deseja remover o item do carrinho?</h3>
          <input type="hidden" id="id-item-remove" value="">
          <button onclick="removerItemModalConfirme()" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
            Remover
          </button>
          <button onclick="toggleModal('popup-modal','')" data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="popup-modal-backdrop"></div>

  <script src="../js/carrinho.js"></script>


  <script>
    // let carrinho2 = JSON.parse(localStorage.getItem("carrinho")) || [];

    (carrinho.length > 0) ? comItem() : semItem()

    function comItem() {
      document.getElementById("detalhesValores").classList.toggle("hidden")
      document.getElementById("titulo").innerText = 'Itens do Carrinho'
    }
    function semItem() {
      document.getElementById("carrinho-vazio").classList.toggle("hidden")
      document.getElementById("titulo").innerText = 'Seu carrinho está vazio!'
    }
    // Seleciona o elemento pai onde os itens do carrinho serão adicionados
    let carrinhoContainer = document.getElementById("carrinho-items");

    // Itera sobre os itens do carrinho e cria a marcação HTML para cada um
    carrinho.forEach(item => {
      let itemDiv = `
        <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
            <img src="${item.img}" alt="${item.nome}" class="w-full rounded-lg sm:w-40" />
            <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                <div class="mt-5 sm:mt-0">
                    <h2 class="text-lg font-bold text-gray-900">${item.nome}</h2>
                    <p class="mt-1 text-xs text-gray-700">Quantidade: ${item.quantidade}</p>
                </div>
                <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                    <div class="flex items-center border-gray-100">
                        <span onclick="diminuirQuantidade(${item.id})" class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50"> - </span>
                        <input  class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="${item.quantidade}" min="1" disabled/>
                        <span onclick="aumentarQuantidade(${item.id})" class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50"> + </span>
                    </div>
                    <div class="flex items-center space-x-4">
                        <p class="text-sm">R$${item.subTotal.toFixed(2)}</p>
                       
                        <button onclick="toggleModal('popup-modal',${item.id})">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                </div>
            </div>
        </div>
    `;

      // Adiciona o itemDiv no carrinhoContainer
      carrinhoContainer.insertAdjacentHTML('beforeend', itemDiv);
    });
    calcularValores()
    function calcularValores() {
      let subTotalValor = carrinho.reduce(
        (acc, produto) => acc + produto.quantidade * produto.valor,
        0
      );

      let frete = parseFloat(document.getElementById("frete").value);
      let subTotal = parseFloat(subTotalValor);
      let total = subTotal + frete;

      document.getElementById("subtotal").innerText = subTotal.toFixed(2)
      document.getElementById("total").innerText = total.toFixed(2)

    };
    document.getElementById('frete').addEventListener('change', calcularValores);




  </script>





  <footer class="relative bg-gray-800 pt-8 pb-6">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <img class="h-8 w-auto" src="../img/LogoDestiny.svg" alt="Your Company">
          <h1 class="text-2xl font-semibold text-white mt-6">Centrais de Atendimento</h1>
          <h5 class="text-lg mt-0 mb-2 text-white">
            Suporte Pós Venda 11 4002 8922 <br>
            Segunda à Sexta: 09h às 21h <br>
            Sábado e Feriados Nacionais: 09h às 16h <br>
          </h5>
          <div class="mt-6 lg:mb-0 mb-6">
            <!-- Aqui deixei os botões como estavam pois parecem ter cores específicas -->

          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Links Úteis</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Sobre Nós</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/CleitonRSilvaa/Destiny">GitHub</a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Compra Segura</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Termos e Condições</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Política de Privacidade</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Black Friday</a>
                  <a class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="#">Oferta Destiny</a>
                </li>
              </ul>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-white text-sm font-semibold mb-2">Forma de Pagamento</span>
              <ul class="list-unstyled">
                <li>
                  <img class="h-25 w-auto" src="../img/formasPagamento.png" alt="Forma de Pagamento">
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-white font-semibold py-1">
            Copyright © <span id="get-current-year">2023</span><a href="#" class="text-white hover:text-blueGray-800"> Destiny by
              <a href="https://github.com/CleitonRSilvaa/Destiny" class="text-white hover:text-blueGray-800">Eco Coders</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="../jquery/jquery.min.js"></script>
  <script src="../jquery/jquery.mask.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/popper.min.js"></script>








  <script th:if="${#authentication.authorities[0].authority == 'ROLE_CLIENTE'}">
    document.addEventListener('DOMContentLoaded', function () {
      // Toggle do menu mobile
      let menuButton = document.querySelector('[aria-controls="mobile-menu"]');
      let mobileMenu = document.getElementById('mobile-menu');

      menuButton.addEventListener('click', function () {
        mobileMenu.classList.toggle('hidden');
      });

      // Toggle do dropdown de perfil
      let userMenuButton = document.getElementById('user-menu-button');
      let userMenuDropdown = document.querySelector('[aria-labelledby="user-menu-button"]');

      userMenuButton.addEventListener('click', function () {
        userMenuDropdown.classList.toggle('hidden');
      });
    });
  </script>






</body>

</html>