<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="icon" href="../img/LogoDestiny.png">
  <link rel="stylesheet" href="../css/stylesLanding.css">

  <style>
    body {
      font-family: 'Arial', sans-serif;
      color: #555;
      background-color: #f8f9fa;
    }

    nav {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .logo img {
      width: 100px;
    }

    #carousel .item img {
      width: 100%;
      height: auto;
      display: block;
    }

    footer {
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    }

    .star-rating {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .star-rating i {
      color: gold;
      margin-right: 5px;

    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="logo" href="#" title="Ir para a página inicial">
      <img src="https://github.com/CleitonRSilvaa/Destiny/blob/feat/LandingPageTeste/src/main/resources/static/img/LogoDestiny.png?raw=true" alt="Logo da Destiny">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link " href="#">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">

        </li>

      </ul>
    </div>
    <div class="d-flex align-items-center">

      <div class="dropdown">
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button type="button" class="btnlogin btn btn-outline-light me-2">Login</button>
      <button type="button" class="btnlogin btn-warning">Sign-up</button>
    </div>

    </div>

  </nav>

  <section id="carousel" class="mt-5 mb-5">
    <div class="owl-carousel owl-theme">
      <div class="item"><img src="https://via.placeholder.com/1536x300" alt="Advertisement 1"></div>
      <div class="item"><img src="https://via.placeholder.com/1536x300" alt="Advertisement 2"></div>
      <div class="item"><img src="https://via.placeholder.com/1536x300" alt="Advertisement 3"></div>
      <div class="item"><img src="https://via.placeholder.com/1536x300" alt="Advertisement 3"></div>

    </div>
  </section>

  <!-- Product Listing -->
  <section class="product-listing mt-5 mb-5">
      <div class="row">
        <th:block th:each="produto : ${produtoPage}">
          <div class="col-md-2">
            <div class="card">
              <img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Experience 1">
              <div class="card-body">
                <div class="star-rating" th:attr="data-rating=${produto.avaliacao}">
                  <span th:each=" star : ${#numbers.sequence(1,5)}" th:switch="${star}">
                    <i th:case="*{produto.avaliacao >= star}" class="fas fa-star"></i>
                    <i th:case="*{produto.avaliacao == star - 0.5}" class="fas fa-star-half-alt"></i>
                    <i th:case="*{produto.avaliacao < star}" class="far fa-star"></i>
                  </span>
                </div>
                <div class="justify-content-center">

                  <h4 class="card-title text-center" th:text="${produto.nome}"></h4>
                  <p class="card-text text-center" th:text="${'R$ '+ produto.valor}"></p>
                  <div class="text-center">
                  <a th:href="@{'/produto/informacao?id=' + ${produto.id}}" class=" btnCompra btn btn-primary center" style="max-width: 58 48;">Saiba Mais</a>
                  <a href="#" class=" btnCompra btn btn-light justify-content-center"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </div>
  </section>

  
  <div class="cart-circle">
    <a class="nav-link" href="#">
      <span class="badge badge-pill bg-danger text-white">1</span>
      <span><i class="fas fa-shopping-cart text-white"></i></span>
    </a>
</div>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy; 2023 Exclusive Travels. All rights reserved.</span>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/9ef98eb577.js" crossorigin="anonymous"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Inclua as bibliotecas JavaScript do Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

  <!-- Popper.js (necessary for Bootstrap tooltips, popovers, etc.) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Owl Carousel JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>

  <!-- Initialize Owl Carousel -->
  <script>
    $(document).ready(function () {
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        autoplay: true, // this allows the items to rotate automatically
        autoplayTimeout: 3000, // this is the time delay between transitions in milliseconds (i.e., 3 seconds)
        responsive: {
          0: {
            items: 1,
            nav: true
          },
          600: {
            items: 1,  // changed this to show only one image
            nav: false
          },
          1000: {
            items: 1,  // changed this to show only one image
            nav: true,
            loop: true
          }
        }
      });
    });


    function renderStarRatings() {
      $('.star-rating').each(function () {
        const rating = parseFloat($(this).data('rating'));
        $(this).empty(); // clear previous stars

        for (let i = 1; i <= 5; i++) {
          if (i <= rating) {
            $(this).append('<i class="fas fa-star"></i>');
          } else if (i - rating === 0.5) {
            $(this).append('<i class="fas fa-star-half-alt"></i>');
          } else {
            $(this).append('<i class="far fa-star"></i>');
          }
        }
      });
    }

    $(document).ready(function () {
      renderStarRatings();
    });



  </script>

</body>

</html>