<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleLogin.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <main>

        <h1 class="letras">Entrar na conta</h1>
        <div class="login">
            <form th:action="@{/login}" method="post">
                <div class="email">
                    <i class="fa-solid fa-user" style="color: #242424;"></i>
                    <input id="email" type="text" name="username" placeholder="Nome de Usuario">
                    <div class="linha" style="border-top: 2px solid #e3e3e3; width: 398px"></div>
                </div>
                <div class="senha">
                    <i class="fa-solid fa-lock" style="color: #242424;"></i>
                    <input id="senha" type="password" name="password" placeholder="Senha">
                    <div class="linha" style="border-top: 2px solid #e3e3e3; width: 398px"></div>

                </div>
                <div th:if="${session.error}">
                    <p style="color:red" th:text="${session.error}"></p>
                </div>
                <div class="butao">
                    <button id="entrar" type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>