<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body class="bg-light">
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header bg-dark text-white text-center">
						<h4>Entrar na conta</h4>
					</div>
					<div class="card-body">
						<form th:action="@{/login}" method="post">
							<div class="form-group">
								<input type="text" class="form-control" name="username" placeholder="email" required />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" placeholder="Senha" required />
							</div>
							<div th:if="${session.error}" class="alert alert-danger" role="alert">
								<span th:text="${session.error}"></span>
							</div>
							<input type="submit" class="btn btn-dark btn-block" value="Entar" />
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</html>